<html>
    <body>
        <form action="/buckets/add" method="POST">
            <input name="bucket_name" placeholder="bucket name"><br>
            <input name="freq" placeholder="freq"><br>
            <input name="image_url" placeholder="image url"><br>
            <button>Send</button>
        </form>
    </body>
</html>